
.col-right, .col-left {
	height: 400px !important;
	padding: 10px !important;
}
.col-right {
	background: #DDD;
}
.col-left {
	background: #eee;
}
h1.form-title {
	font-size: 15px;
	font-weight: bold;
}
