
#form-cont {
	background:white;
}

#form-cont label {
	display:block;
}


#form-cont input[type='text'], #form-cont input[type='password']  {
  	padding: 3px;
	width: 100%;
	border: 1px solid rgb(137, 170, 235);
	font-size: 26px;
}